<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body id="<%= team %>Page">
    <a href="/profile" class="btn btn-default btn-sm" id="profileBtn">👤Profile Page</a>
    <h1 id="name">
        <%= team %>
    </h1>
    <!-- class="<%= team %>FoodBtn" -->
    <h2 id="coach">
        <%= team.coach %>
    </h2>
    <p id="<%= team.stars %>stars"></p>
    <p id="<%= team %>trophies"></p>
    <img src="" alt="logo" id="logo">


    <script src="/main.js"></script>
    <script src="/script.js"></script>
</body>

</html>